<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have premission to view this resource</h6>
    <img src="~/images/accessDenied.png" class="center-block img-responsive" style="height:300px;" />
</div>
