@{
    ViewData["Title"] = "About";
}


<!--About Us-->
<section id="about">
    <div class="container">
        <header class="section-header">
            <h3>About Us</h3>
            <p>
                EasyWay is the No.1 IELTS Institute and is best known with quality IELTS training. We have the honour of being the only institute in the country to have Cambridge University Press as our knowledge partner.
                EasyWay is always looking for new students to join our elite Beginner driver program in B and C class. Do you have a teen or loved one that is considering driver education? Check out our driver training programs.
            </p>
        </header>
        <div class="row about-cols">

            <div class="col-md-4 wow fadeInUp">
                <div class="about-col">
                    <div class="img">
                        <img src="~/images/about-mission.jpg" alt="mission" class="img-responsive">
                        <div class="icon"><i class="glyphicon glyphicon-flag"></i></div>
                    </div>
                    <h2 class="title">Our Mission</h2>
                    <p>
                        EasyWay aims to provide best quality driven services to clients interested to IELTS coaching and driving classes anywhere in the world.
                </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="about-col">
                    <div class="img">
                        <img src="~/images/about-plan.jpg" alt="plan" class="img-responsive">
                        <div class="icon"><i class="glyphicon glyphicon-list-alt"></i></div>
                    </div>
                    <h2 class="title">Our Plan</h2>
                    <p>
                        EasyWay was formed to receive advice on key aspects of the strategic plan, including our priorities and community consultation.
                    </p>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="about-col">
                    <div class="img">
                        <img src="~/images/about-vision.jpg" alt="vision" class="img-responsive">
                        <div class="icon"><i class="glyphicon glyphicon-eye-open"></i></div>
                    </div>
                    <h2 class="title">Our Vision</h2>
                    <p>
                        For innovative, reliable, affordable and helps in creating a better, secure career and lifestyle for the people wishing to learn extra.
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>

<!--Our Service-->
<section id="about">
    <div class="container">
        <header class="section-header">
            <h3>Our Services</h3>
            <p>
                We know that technology is always evolving and that you get benefits from the latest solutions.
            </p>
        </header>
        <div class="row" style="background:url(../../wwwroot/images/about-mission.jpg);">
            <div class="col-md-4 col-md-offset-1 wow fadeInUp services" data-wow-delay="0.1s">
                <h3 class="text-center text-uppercase">IELTS SCHOOL</h3>
                <p class="text-center">
                    EasyWay uses the official IELTS preparation material produced by Cambridge University Press. Our Instrutors are also certified by Cambridge University Press. EasyWay offers the most best IELTS coaching; and our programmes are built to provide good practice to students in the techniques needed for taking the IELTS test with full confidence.
                </p>
                <a class="links center-block text-center" asp-controller="services" asp-action="IELTS_Demo">More Information</a>
            </div>
            <div class="col-md-4 col-md-offset-2 services" data-wow-delay="0.1s">
                <h3 class="text-center text-uppercase">Patente di guida</h3>
                <p class="text-center seviceText">
                    EasyWay vehicles are equipped with dual brakes, mirrors and they are insured for teaching purposes.
                    Our administrative staff is highly experienced and friendly. We will provide you with complete assistance and guidance throughout the Driver Training Program. In this endeavor we are always struggling to raise the bar on our Teaching standards.
                </p>
                <a class="links center-block text-center" asp-controller="services" asp-action="DrivingSchool_Index">More Information</a>
            </div>
        </div>
    </div>
</section>