
@{
    ViewData["Title"] = "Driving School";
}

<!--Our Service-->

<div>
    <img class="img-responsive img-rounded center-block" src="~/images/drivingSchool.png" />
</div>
<hr />
<section id="about">
    <div class="container">
        <header class="section-header">
            <h3>Patente School</h3>
            <p>
                EasyWay is always looking for new students to join our elite Beginner driver program in B, C and CQC class category. Do you have a teen or loved one that is considering driver education? Check out our driver training programs.
            </p>
        </header>
    </div>
</section>
<div class="row container well">
    <div class="col-md-4 text-center ielts">
        <a asp-action="BLicenceDemo" asp-controller="services">
            <img style="height:200px;" class="img-responsive" src="~/images/BLicence.jpg" />
        </a>
    </div>
    <div class="col-md-4 text-center ielts">
        <a asp-action="CLicenceDemo" asp-controller="services">
            <img style="height:200px;" class="img-responsive" src="~/images/CLicence.jpg" />
        </a>
    </div>
    <div class="col-md-4 text-center ielts">
        <a asp-action="CQCLicenceDemo" asp-controller="services">
            <img style="height:200px;" class="img-responsive" src="~/images/CQCLicence.jpg" />
        </a>
    </div>
    <hr />
</div>
<hr />

<section id="about">
    <div class="container">
        <header class="section-header">
            <h3>Classes Schedule</h3>
        </header>
    </div>
</section>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="bg-danger">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sunday</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
            </tr>
        </thead>
        <tbody class="bg-info">
            <tr>
                <th class="text-success" scope="row">10:00 AM - 12:00 PM</th>
                <td>Free Sunday Class</td>
                <td>B Licence Class</td>
                <td>C Licence Class</td>
                <td>CQC Licence Class</td>
                <td>CQC Licence Class</td>
                <td>Practice Session</td>
                <td>Practice Session</td>
            </tr>
            <tr>
                <th class="text-success" scope="row">12:00 PM - 2:00 PM</th>
                <td>Free Sunday Class</td>
                <td>B Licence Class</td>
                <td>C Licence Class</td>
                <td>CQC Licence Class</td>
                <td>CQC Licence Class</td>
                <td>Practice Session</td>
                <td>Practice Session</td>
            </tr>
            <tr>
                <th class="text-success" scope="row">2:00 PM - 4:00 PM</th>
                <td>Free Sunday Class</td>
                <td>B Licence Class</td>
                <td>C Licence Class</td>
                <td>CQC Licence Class</td>
                <td>CQC Licence Class</td>
                <td>Practice Session</td>
                <td>Practice Session</td>
            </tr>
            <tr>
                <th class="text-success" scope="row">4:00 PM - 6:00 PM</th>
                <td>Free Sunday Class</td>
                <td>B Licence Class</td>
                <td>C Licence Class</td>
                <td>CQC Licence Class</td>
                <td>CQC Licence Class</td>
                <td>Practice Session</td>
                <td>Practice Session</td>
            </tr>
        </tbody>
    </table>
</div>


