
@{
    ViewData["Title"] = "IELTS";
}

<!--Our Service-->

<div>
    <img class="img-responsive img-rounded center-block" src="~/images/ielts.png" />
</div>
<hr />
<section id="about">
    <div class="container">
        <header class="section-header">
            <h3>IELTS Modules</h3>
            <p>
                EasyWay is the No.1 IELTS Institute and is best known with quality IELTS training. We have the honour of being the only institute in the country to have Cambridge University Press as our knowledge partner.
            </p>
        </header>
    </div>
</section>
<div class="row container well">
    <div class="col-md-3 text-center ielts">
        <a asp-action="IELTS_Create" asp-controller="services">
            <img class="img-responsive" src="~/images/speaking.png" />
        </a>
    </div>
    <div class="col-md-3 col-md-pull-1 text-center ielts">
        <a asp-action="IELTS_Create" asp-controller="services">
            <img class="img-responsive" src="~/images/listening.png" />
        </a>
    </div>
    <div class="col-md-3 col-md-push-1 text-center ielts">
        <a asp-action="IELTS_Create" asp-controller="services">
            <img class="img-responsive" src="~/images/reading.png" />
        </a>
    </div>
    <div class="col-md-3 text-center ielts">
        <a asp-action="IELTS_Create" asp-controller="services">
            <img class="img-responsive" src="~/images/writing.png" />
        </a>
    </div>
    <hr />
</div>
<hr />
<section id="about">
    <div class="container">
        <header class="section-header">
            <h3>IELTS Demo</h3>
        </header>
    </div>
</section>
<div class="row text-center text-lg-left well">

    <div class="col-md-4">
        <a data-toggle="modal" data-target="#exampleModal1" class="d-block mb-4 h-100">
            <figure>
                <video id="model_video" class="img-thumbnail img-responsive " src="~/images/video1.mp4" alt=""></video>
                <figcaption>Reading Demo</figcaption>
            </figure>
        </a>
    </div>
    <div class="col-md-4">
        <a data-toggle="modal" data-target="#exampleModal2" class="d-block mb-4 h-100">
            <figure>
                <video id="model_video" class="img-thumbnail img-responsive" src="~/images/video2.mp4" alt=""></video>
                <figcaption>Writing Demo</figcaption>
            </figure>
        </a>
    </div>
    <div class="col-md-4">
        <a data-toggle="modal" data-target="#exampleModal3" class="d-block mb-4 h-100">
            <figure>
                <video id="model_video" class="img-thumbnail img-responsive " src="~/images/video1.mp4" alt=""></video>
                <figcaption>Speaking Demo</figcaption>
            </figure>
        </a>
    </div>
    <div class="col-md-4">
        <a data-toggle="modal" data-target="#exampleModal4" class="d-block mb-4 h-100">
            <figure>
                <video id="model_video" class="img-thumbnail img-responsive" src="~/images/video2.mp4" alt=""></video>
                <figcaption>Listening Demo</figcaption>
            </figure>
        </a>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Play Now: IELTS Tutorial</h5>
                <button type="button" onclick="document.getElementById('demoVideo').pause();" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <video id="demoVideo" class="img-responsive" controls src="~/images/video1.mp4" frameborder="0" allowfullscreen></video>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Play Now: IELTS Tutorial</h5>
                <button type="button" onclick="document.getElementById('demoVideo2').pause();" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <video id="demoVideo2" class="img-responsive" controls src="~/images/video2.mp4" frameborder="0" allowfullscreen></video>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Play Now: IELTS Tutorial</h5>
                <button type="button" onclick="document.getElementById('demoVideo3').pause();" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <video id="demoVideo3" class="img-responsive" controls src="~/images/video1.mp4" frameborder="0" allowfullscreen></video>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Play Now: IELTS Tutorial</h5>
                <button type="button" onclick="document.getElementById('demoVideo4').pause();" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <video id="demoVideo4" class="img-responsive" controls src="~/images/video2.mp4" frameborder="0" allowfullscreen></video>
            </div>
        </div>
    </div>
</div>
<section id="about">
    <div class="container">
        <header class="section-header">
            <h3>Classes Schedule</h3>
        </header>
    </div>
</section>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="bg-danger">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sunday</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
            </tr>
        </thead>
        <tbody class="bg-info">
            <tr>
                <th class="text-success" scope="row">10:00 AM - 12:00 PM</th>
                <td>Free Sunday Class</td>
                <td>Listening Class</td>
                <td>Reading Class</td>
                <td>Writing Class</td>
                <td>Speaking Class</td>
                <td>Practice Session</td>
                <td>Practice Session</td>
            </tr>
            <tr>
                <th class="text-success" scope="row">12:00 PM - 2:00 PM</th>
                <td>Free Sunday Class</td>
                <td>Listening Class</td>
                <td>Reading Class</td>
                <td>Writing Class</td>
                <td>Speaking Class</td>
                <td>Practice Session</td>
                <td>Practice Session</td>
            </tr>
            <tr>
                <th class="text-success" scope="row">2:00 PM - 4:00 PM</th>
                <td>Free Sunday Class</td>
                <td>Listening Class</td>
                <td>Reading Class</td>
                <td>Writing Class</td>
                <td>Speaking Class</td>
                <td>Practice Session</td>
                <td>Practice Session</td>
            </tr>
            <tr>
                <th class="text-success" scope="row">4:00 PM - 6:00 PM</th>
                <td>Free Sunday Class</td>
                <td>Listening Class</td>
                <td>Reading Class</td>
                <td>Writing Class</td>
                <td>Speaking Class</td>
                <td>Practice Session</td>
                <td>Practice Session</td>
            </tr>
        </tbody>
    </table>
</div>
<section id="about">
    <div class="container">
        <header class="section-header">
            <h3>Fees Detail</h3>
        </header>
    </div>
</section>
<div class="row">
    <div class="table-responsive col-md-6">
        <table class="table table-hover">
            <thead class="bg-danger">
                <tr>
                    <th scope="col">Course Type</th>
                    <th scope="col">Fees</th>
                </tr>
            </thead>
            <tbody class="bg-info">
                <tr>
                    <td>15 days</td>
                    <td>$ 50.00</td>
                </tr>
            </tbody>
            <tbody class="bg-info">
                <tr>
                    <td>30 days</td>
                    <td>$ 150.00</td>
                </tr>
            </tbody>
            <tbody class="bg-info">
                <tr>
                    <td>60 days</td>
                    <td>$ 250.00</td>
                </tr>
            </tbody>
            <tbody class="bg-info">
                <tr>
                    <td>90 days</td>
                    <td>$ 350.00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 well">
        <div class="form_main">
            <h4 class="heading"><strong>Sunday Free Classes </strong> Form <span></span></h4>
            <div class="form">
                <form action="contact_send_mail.php" method="post" id="contactFrm" name="contactFrm">
                    <input type="text" required="" placeholder="Please input your Name" value="" name="name" class="txt">
                    <input type="text" required="" placeholder="Please input your mobile No" value="" name="mob" class="txt">
                    <input type="submit" value="submit" name="submit" class="txt2">
                </form>
            </div>
        </div>
    </div>
</div>
